<div class="container">
  <div class="row">

    @if (items.length !== 0) {
      <ul class="wish-list">
        @for (item of items; track item.wishId; let idx = $index) {
          <li>
            <div class="form-check">
                <label class="form-ckeck-label">
                  <input 
                    type="checkbox" 
                    class="checkbox"
                    [checked] = "item.isComplete"
                    [attr.data-index] = idx
                  >{{item.wishText}}
                </label>
            </div>
          </li>
        }
      </ul>
    }@else {
      <p>No items in the cart.</p>
    }
  </div>
</div>